{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% bootstrap_messages %}

{% block main %}
<form class="form" method="post">
    {% csrf_token %}
    {%  bootstrap_form form %}
    <button type="submit" class="btn btn-default">add</button>
</form>
{% endblock %}