{% extends 'core/base.html' %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Sexo</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.get_genre_display }}</td>
            <td>{{ object.balance }}</td>
        </tr>
        </tbody>
    </table>
    <form method="post" action="{% url 'core:customer_delete' object.pk %}">
        {% csrf_token %}
        <button class="btn btn-danger">Deletar</button>
    </form>
{% endblock %}