{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% bootstrap_messages %}

{% block main %}
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-default">update</button>
</form>
{% endblock %}