<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post">
    {%  csrf_token %}
    {{ form }}
    <button type="submit">Logar</button>
</form>
</body>
</html>