{% load static %}
<!DOCTYPE html>
<html lang="{% block html_lang %}pt-br{% endblock %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">

    {% block meta %}
    {% endblock %}

    {% block css %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    <div class="container">
    {% block main %}
    {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    {% block js %}
    <script src="{% static 'vendor/jquery/js/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/angular/angular.js' %}"></script>
    {% endblock %}
</body>
</html>
