{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block css %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% bootstrap_messages %}

{% block main %}
<form class="form" method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ formsets.product.management_form }}
      {{ formsets.product.as_table }}
    </div>
    <!-- <div class="form-group"> -->
    <!--     <label for="{{ form.items.id_for_label }}">Items</label> -->
    <!--     <table class="table"> -->
    <!--         <thead> -->
    <!--             <tr> -->
    <!--                 <th>Produto</th> -->
    <!--                 <th>Preço</th> -->
    <!--                 <th>Quantidade</th> -->
    <!--                 <th>Desconto</th> -->
    <!--                 <th>Sub-total</th> -->
    <!--             </tr> -->
    <!--         </thead> -->
    <!--         <tbody class="js-items-container"> -->

    <!--         </tbody> -->
    <!--         <a href="#" class="btn btn-default js-add-item"><i class="glyphicon glyphicon-plus-sign"></i></a> -->
    <!--     </table> -->
    <!--     <div class="col-xs-4 pull-right"> -->
    <!--         <span>Total:<span class="js-total">0</span></span> -->
    <!--     </div> -->
    <!-- </div> -->
    {%  bootstrap_form form %}
    <button type="submit" class="btn btn-default">add</button>
</form>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function () {

    $('.js-add-item').click(function() {
        var id = $('tbody tr').length + 1;
        var htmlString = "<tr id=\"js-item-{id}\"><td><select class=\"form-control js-item-product\"></select></td><td><input class=\"form-control js-item-price\" type=\"number\" value=\"0\"></input></td><td><input class=\"form-control js-item-amount\" type=\"number\" value=\"1\"></input></td><td><input class=\"form-control js-item-discount\" type=\"number\" value=\"0\"></input></td><td><input class=\"form-control\ js-item-total\" type=\"number\" value=\"0\"></input></td></tr>";
        htmlString = htmlString.replace('{id}', id);
        $('.js-items-container').append(htmlString);

        $('.js-item-price, .js-item-amount, .js-item-discount').change(function() {
            var item_row = $(this).closest('tr');
            var price = parseFloat(item_row.find('.js-item-price').val());
            var amount = parseInt(item_row.find('.js-item-amount').val());
            var discount = parseFloat(item_row.find('.js-item-discount').val());
            var sub_total = price * amount - discount;
            item_row.find('.js-item-total').val(sub_total);
            var total = 0;
            $('.js-item-total').each(function(i, e) {
                total += parseFloat($(e).val());
            });
            $('.js-total').text(total);
        });

    });

});
</script>
<script href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{{ form.media.js }}
{% endblock %}
