{% extends 'core/base.html' %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.stock }}</td>
        </tr>
        </tbody>
    </table>
    <form method="post" action="{% url 'core:product_delete' object.slug %}">
        {% csrf_token %}
        <button class="btn btn-danger">Deletar</button>
    </form>
{% endblock %}