{% extends 'core/base.html' %}

{% block main %}
    <a href="{% url 'core:product_create' %}" class="btn btn-default">add</a>
    <ul class="list-group">
    {% for object in object_list %}
        <li class="list-group-item"><a href="{% url 'core:product_detail' object.slug %}">{{ object }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}